<!DOCTYPE html>
<html>
<head>
    <title>Select Date & Time</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="dash-body">

<div class="main-content">
    <h2>Book Appointment with <span id="doctorName"></span></h2>

    <div class="form-card">
        <label>Select Date</label>
        <input type="date" id="date">

        <label>Select Time</label>
        <input type="time" id="time">

        <button onclick="bookAppointment()">Confirm Booking</button>
    </div>
</div>

<script src="static/js/book_slot.js"></script>
</body>
</html>
